.App {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  background-color: rgb(10, 149, 10);
  font-family:fantasy;
  min-height: 100vh;
}

h1, h3 {
  margin: 15px
}


.nav {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  max-height: 150px;
  background-color: blue
}

.nav li {
  color: white;
}

.nav-links {
  font-size: 20px;
  width: auto;
  margin-right: 2rem;
  justify-content: space-evenly;
  list-style-type: none;
  font-family: fantasy;
}

.home {
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  font-size: 15px;
}

.about {
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  font-size: 15px;
}

.dealer {
  text-align: center;
  margin-bottom: 20px;
}

.player {
  text-align: center;
  margin-top: 20px;
}

.play {
  font-size: 15px;
  width: auto;
  margin-right: 50px;
  font-family: fantasy;
  text-align: center;
}

ul {
  font-size: 15px;
}

button {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 7px;
}

button .play {
  text-align: center;
}

.actionControls {
  text-align: right;
  margin-right: 10px;
}

.hit {
  margin-right: 20px;
}

/* button .split {
  text-align: right;
  margin-top: 10px;
  margin-right: 40px; 
}

button .double {
  text-align: right;
  margin-top: 10px;
  margin-right: 40px;

} */

.attribute {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  margin-left: 10px;
  /* background-color: rgb(10, 149, 10); */
}

.cards {
  max-width: 80px;
  max-height: 95px;
  border: 1px solid black;
  margin-left: 10px;
  border-radius: 7px;
}

.back {
  width: 73px;
  height: 95px;
  border-radius: 7px;
  border: 1px solid black
}

