.App {
  text-align: center;
  background-color: rgb(10, 149, 10);
  font-family:'Times New Roman', Times, serif;
  min-height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  min-height: 50px;
}

.nav li {
  color: white;
}

.nav-links {
  font-size: 15px;
  width: auto;
  margin-right: 50px;
  justify-content: space-between;
  list-style-type: none;
}

.about {
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  font-size: 15px;
}

.dealer {
  text-align: justify;
  color: white;

}

.player {
  position: absolute;
  bottom: 75px
}

.play {
  font-family:fantasy;
  text-align: justify;
  text-decoration: none;
  color: rgb(29, 26, 232);
}

button {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 7px;
}

button .play {
  text-align: center;
}

button .stand {
  text-align: right;
  margin-top: 150px;
  margin-right: 40px; 
}

button .hit {
  text-align: right;
  margin-top: 10px;
  margin-right: 40px; 
}

button .split {
  text-align: right;
  margin-top: 10px;
  margin-right: 40px; 
}

button .double {
  text-align: right;
  margin-top: 10px;
  margin-right: 40px;

}

.attribute {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  margin-left: 10px;
  /* background-color: rgb(10, 149, 10); */
}

.cards {
  max-width: 90px;
  max-height: 105px;
  border: .5px solid black;
  margin-left: 10px;
}

.dealer {

}

.player {

}
